legend{
    display: flex;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    width: 100%;
    padding: 5px 0;
    justify-content: space-between;
}
.legend input{
    width: 150px;
    padding: 10px;
    margin-bottom: 10px;
}
form{
    display: flex;
}
.form{
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    border: 2px solid black;
    background-color: white;
}
label{
    display: inline-block;
    width: 155px;
    padding: 10px 50px 10px 20px;
    font-weight: bold;
}

form input{
    width: 200px;
    padding: 5px;
    margin-left: 40px;
}
label input{
    width: 30px;
    
}
body{
    display: flex;
    gap: 25px;
    background-color: rgba(71, 176, 224, 0.123);
    margin: 50px 50px;
}
thead{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
th{
  width: 100px; 
  padding: 10px 5px;
  border: 1px solid black;
}
td{
    padding: 10px 5px;
    border: 1px solid black;
}
table{
    border-collapse: collapse;
}
button{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    height: 100px;
    width: 100px;
    margin: 250px 50px;
    border-radius: 100%;
    box-shadow: 0 0 10px rgb(94, 92, 92) ;
}
input:focus{
    outline: none;
    border: none;
    box-shadow: 0 0 5px black;
}
.tableau{
    background-color: white;
    padding: 10px 5px;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    text-align: center;
}