body {
    margin: 0;
    padding: 0;
    background-color: aqua;
}

#main {
    display: flex;
}

#gauche {
    background-color: lightgray;
    flex: 2;
    height: 55vh;

}

#droite {
    background-color: white;
    flex: 3;
    height: 30vh;
    margin-top: 8%;
}
.btn{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-top: 15%;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: aquamarine;
}
.mesdivs {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}
#facture{
    background-color: aqua;
}
#entete {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    padding: 10px;
    color: white;
}

#enmilieu {
    align-self: center;
}

#enhaut {
    display: flex;
    justify-content: space-between;
}

#enbas {
    display: flex;
    justify-content: space-between;
}

#tableau {
    display: flex;
    flex-direction: column;
    background-color: aqua;
}

#MONTANT {
    display: flex;
    justify-content: space-between;
}

#REMISE {
                display: flex;
                justify-content: space-between;
}
#ncv {
                display: flex;
                justify-content: space-between;
}
#tva {
                display: flex;
                justify-content: space-between;
}
#TRANSPORT {
                display: flex;
                justify-content: space-between;
}
#ESCOMPTE {
                display: flex;
                justify-content: space-between;
}
#NC-facture{
                display: flex;
                justify-content: space-between;
}
#net-Financier{
                display: flex;
                justify-content: space-between;
}   
#nap{
                display: flex;
                justify-content: space-between;
}
table{
    border: 2px solid  black;
    width: 100%;
    background-color: aqua;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
#supprimer-facture {
    margin-top: 20px;
    background-color: red;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}
#pourcentage-remise , #escompte-valeur , #tva-valeur{
    width: 60px;
}
