html {
    background-color: aqua;
}

#main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    flex-wrap: wrap;

}

#gauche {
    background-color: lightgrey;
    flex:2;
}

#droite {
    background-color: white;
    flex:3;
}

.mesdivs {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
} 

#entete{
    display: flex;
    flex-direction: column;
    background-color: beige;
    padding: 10px;
}

#entete > p {
    align-self: center;
}

#enhaut{
    display: flex;
    justify-content: space-between;
}
#enbas{
    display: flex;
    justify-content: space-between;
}

.elementsfac {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
   


}

.elementsfac > div {
    display: flex;
    justify-content: space-between;
}

.corps input[name="tauxremise"], .corps input[name="tauxescompte"], .corps input[name="tauxtva"]{
    width: 35px;
}

.corps input{
    width: 150px;
}
.escompte{
    display: flex;
}
.ncf{
    display: flex;
    
}
.montantht input{
    margin-left: 310px;
}
.ncv input{
  margin-left: 310px;
}
.elementsfac input{
    
}
.ncf input{
    display: flex;
    gap: 10px;
    margin-left: 310px;
}
.totalht input{
    margin-left: 310px;
}
.tva input{
    
}

    



