html {
    background-color: aqua;
}

#main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

#gauche {
    background-color: lightgrey;
    flex:2;
}

#droite {
    background-color: white;
    flex:3;
}

.mesdivs {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
} 

#entete{
    display: flex;
    flex-direction: column;
    background-color: beige;
    padding: 10px;
}

#entete > p {
    align-self: center;
}

#enhaut{
    display: flex;
    justify-content: space-between;
}
#enbas{
    display: flex;
    justify-content: space-between;
}

.elementsfac {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    margin: 10px;
}

.elementsfac > div {
    display: flex;
    margin-bottom: 5px;
    justify-content: space-between;
}

.elementsfac > div > input{
    width: 50%;
}

.elementsfac > div > label{
    width: 50%;
}

input[name="tauxremise"], input[name="tauxescompte"], input[name="tauxtva"] {
    width: 35px;
}

#nap {
    border: none;
}

#roundmidbtn{
    position: absolute;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    left: 50%;
    top: 50%;
    background-color: aqua;
    border: 1px solid;

}